    .contador-container {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .button-group {
        margin-top: 10px;
    }
    
    /* Añade margen derecho a todos los botones excepto al último */
    .button-group Button:not(:last-child) {
        margin-right: 10px;
    }
    
    p {
        cursor: pointer;
    }
    